/* здесь используйте глобальные переменные */
$tablet-min-width: 768px;
$tablet-max-width: 1439px;
$desktop-min-width: 1440px;
$mobile-min-width: 320px;
$mobile-max-width: 767px;

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1440px;
$breakpoint-gap: 0.05px;

// $mobile-only: "(max-width: #{$breakpoint-tablet - $breakpoint-gap})";
// $tablet-only: "(min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - $breakpoint-gap})";
// $desktop-only: "(min-width: #{$breakpoint-desktop})";
// $not-mobile: "(min-width: #{$breakpoint-tablet})";
// $not-desktop: "(max-width: #{$breakpoint-desktop - $breakpoint-gap})";

$mobile-only: "(width <= #{$mobile-max-width})";
$tablet-only: "(#{$tablet-min-width} <= width <= #{$tablet-max-width})";
$desktop-only: "(width >= #{$desktop-min-width})";
$not-mobile: "(width >= #{$tablet-min-width})";
$not-desktop: "(width <= #{$desktop-min-width})";

// base colors
$base-white: #ffffff;
$base-grey: #bdbdbd;
$base-black: #333333;
$base-primary: #7859cf;
$base-secondary: #f0ebff;

// alt colors
$primary-opacity: #7859cf40;
$primary-lighter: #9070ec;
$primary-darker: #593cac;
$light-grey: #e2e2e2;

// background colors
$lightest-grey: #f8f8f8;
$flat-white: #f3ebe1;
$lavender-latte: #eae6fc;
$espresso: #e5e6e8;

// transition-timing-function
$smooth: cubic-bezier(0.4, 0, 0.4, 1);

// @media #{$mobile-only} {

// }

// @media #{$not-mobile} {

// }

// @media #{$desktop-only} {

// }
