.catalog-filter {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  gap: 30px;
}

.catalog-filter__catalog-filter-wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  gap: 30px;
}

.catalog-filter__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  gap: 20px;
}

@media #{$not-mobile} {
  .catalog-filter {
    gap: 40px 30px;
  }

  .catalog-filter__catalog-filter-wrapper {
    flex-flow: row wrap;
  }
}

@media #{$desktop-only} {
  .catalog-filter {
    justify-content: flex-start;
  }

  .catalog-filter__catalog-filter-wrapper {
    justify-content: flex-start;
  }
}
