.origin-checkboxes__checkbox-item {
  padding: 0 0 0 52px;
}


.checkbox-item__checkbox-button:disabled ~ .checkbox-item__checkbox-label {
  cursor: auto;
  &::before {
    border: none;
    background-color: $light-grey;
  }
}

.checkbox-item__checkbox-button:disabled:checked ~ .checkbox-item__checkbox-label {
  &::before {
    border: none;
    background-color: $light-grey;
  }

  &::after {
    background-color: $base-grey;
  }
}

.checkbox-item__checkbox-label {
  font-size: 16px;
  line-height: 24px;
  font-family: inherit;
  position: relative;
  min-height: 24px;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    width: 42px;
    height: 24px;
    border-radius: 12px;
    background-color: $base-grey;
    border: none;
    top: 50%;
    left: -52px;
    transform: translateY(-50%);
    transition: background-color $smooth 0.1s;
  }

  &::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $base-white;
    top: 50%;
    transform: translateY(-50%);
    left: -50px;
    // opacity: 0;
    transition: transform $smooth 0.3s;
  }

  &:hover::after, &:focus-visible::after {

  }

  &:hover::before, &:focus-visible::before {
    border: solid 2px $primary-lighter;
    background-color: $primary-opacity;
  }
}

.checkbox-item__checkbox-button:checked ~ .checkbox-item__checkbox-label {
  &::after {
    transform: translate(18px, -50%);
  }

  &::before {
    background-color: $base-primary;
    border: none;
  }
}
