.filter-select {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  gap: 8px;
  padding: 0 1px;
}

.filter-select__filter-select-label {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  min-width: 107px;
  margin: 0;
}

.filter-select__select-field {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: $base-primary;
  font-family: inherit;
  width: 160px;
  height: 32px;
  padding: 4px 15px 4px 10px;
  border: none;
  appearance: none;
  background-color: transparent;
  transition: background 0.3s $smooth;

  &:hover,
  &:focus {
    background-color: $base-secondary;
  }

  &:focus {
    outline: solid 1px $base-primary;
  }
}

.filter-select__select-wrapper {
  position: relative;
}

.filter-select__select-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 3px;
  transition: transform 0.3s $smooth;
}

@media #{$not-mobile} {
  .filter-select {
    justify-content: flex-end;
    gap: 12px;
  }

  .filter-select__select-arrow {
    right: 8px;
  }
}

@media #{$desktop-only} {
  .filter-select {
    position: absolute;
    top: 220px;
    right: 2px;
    margin: 0;
  }
}
