.noui-horizontal .noui-handle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: none;
  background-color: $primary-lighter;
  box-shadow: none;
  top: -10px;

  &::before {
    width: 16px;
    height: 16px;
    background-color: $primary-opacity;
    border-radius: 50%;
    top: 12px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.2s $smooth, background 0.3s $smooth;
  }

  &::after {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: solid 2px $primary-lighter;
    background-color: $base-white;
    top: 12px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover::before,
  &:focus-visible::before {
    opacity: 1;
  }

  &:active::before {
    background-color: $base-primary;
  }
}

[disabled] .noui-handle {
  &::before {
    display: none;
  }

  &::after {
    border-color: $base-grey;
    background-color: $light-grey;
  }
}

.noui-base {
  width: calc(100% - 17px);
  height: 2px;
  top: -1px;
}

.noui-connects {
  // width: 280px;
  // width: 241px;
  top: 0;
  height: 4px;
}

.noui-connect {
  // width: 241px;
  height: 4px;
  background-color: $primary-lighter;
}

@media #{$not-mobile} {
  .price-slider__nouislider-input {
    width: 88px;
  }
}

@media #{$desktop-only} {
  .price-slider__nouislider-input {
    width: 134px;
  }
}
