.origin-checkboxes__origin-checkboxes-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  gap: 20px;
}

.origin-checkboxes__origin-checkboxes-title {
  margin: 16px 0 17px;
}

@media #{$not-mobile} {
  .origin-checkboxes {
    width: 223px;
  }

  .origin-checkboxes__origin-checkboxes-title {
    margin: 16px 0 20px;
  }
}
