.price-slider__controls-wrapper {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  gap: 44px;
}

.price-slider__nouislider-input {
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
  width: 118px;
  height: 40px;
  border: solid 2px $primary-lighter;
  border-radius: 4px;
  transition: border 0.3s $smooth;

  &::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    appearance: none;
  }

  &:focus {
    border: solid 2px $primary-darker;
    outline: none;
  }

  &:disabled {
    border-color: $light-grey;
    background-color: $lightest-grey;
    color: $base-grey;
  }

  ::placeholder {
    color: $base-grey;
  }
}

.price-slider__slider-wrapper {
  height: 24px;
  margin: 20px 0 24px;
  width: 100%;
}

.price-slider__nouislider {
  height: 2px;
  background-color: $light-grey;
  box-shadow: none;
  border: none;
  border-radius: 0;
  padding: 0 0 0 7px;
  width: 100%;
}


@media #{$not-mobile} {
  .price-slider {
    width: 223px;
  }

  .price-slider__controls-wrapper {
    gap: 47px;
  }
}

@media #{$desktop-only} {
  .price-slider {
    width: 318px;
  }

  .price-slider__controls-wrapper {
    gap: 50px;
  }
}
