.type-radio__radio-item {
  padding: 0 0 0 34px;
}

.radio-item__radio-button {
  &:disabled + .radio-item__radio-label {
    cursor: auto;
    color: $base-grey;
  }

  &:focus-visible ~ .radio-item__radio-label {
    &::after {
      opacity: 0.25;
    }

    &::before {
      border: solid 2px $primary-lighter;
    }
  }
}

.radio-item__radio-label {
  font-size: 16px;
  line-height: 24px;
  font-family: inherit;
  position: relative;
  min-height: 24px;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: $base-white;
    border: solid 2px $base-grey;
    top: 50%;
    left: -36px;
    transform: translateY(-50%);
    transition: border $smooth 0.3s;
  }

  &::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $base-primary;
    top: 50%;
    transform: translateY(-50%);
    left: -32px;
    opacity: 0;
    transition: opacity $smooth 0.3s;
  }

  &:hover::after,
  &:focus-visible::after {
    opacity: 0.25;
  }

  &:hover::before,
  &:focus-visible::before {
    border: solid 2px $primary-lighter;
  }
}

.radio-item__radio-button:checked ~ .radio-item__radio-label {
  &::after {
    opacity: 1;
  }

  &::before {
    border-color: $base-primary;
  }
}

.radio-item__radio-button:checked:disabled ~ .radio-item__radio-label {
  &::after {
    background-color: $light-grey;
  }
}

.radio-item__radio-button:disabled ~ .radio-item__radio-label {
  &::before {
    border: solid 2px $light-grey;
  }

  &::after {
    background-color: $base-white;
  }
}

@media #{$not-mobile} {
  .radio-item__radio-label {
    &::before {
      left: -34px;
    }

    &::after {
      left: -30px;
    }
  }
}
