@media #{$not-mobile} {
  .type-radio {
    width: 222px;
  }

  .type-radio__type-radio-form-title {
    margin: 16px 0 20px;
  }
}

@media #{$desktop-only} {
  .type-radio__type-radio-form-title {
    margin: 1 0 20px;
  }
}
