.header {
  // background-color: #663399;
  // color: #ffffff;
  // padding: 10px 15px;
  min-height: 60px;
  display: flex;
  align-items: center;

  color: $base-black;
}

.header__header-wrapper {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

@media #{$mobile-only} {

}

@media #{$not-mobile} {
  .header {
    min-height: 80px;
  }
}

@media #{$desktop-only} {

}
