.header-logo__logo-description {
  display: none;
}

@media #{$mobile-only} {
  .header-logo__header-logo-image-wrapper {
    width: 32px;
    height: 36px;
  }
}

@media #{$not-mobile} {
  .header-logo__header-logo-image-wrapper {
    width: 82px;
    height: 36px;
  }
}

@media #{$desktop-only} {
  .header-logo {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    gap: 20px;
  }

  .header-logo__logo-description {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;

    display: flex;
    flex-flow: wrap;
    align-items: center;
    width: 126px;
  }

  .header-logo__header-logo-image-wrapper {
    width: 170px;
    height: 36px;
  }
}
