.header-logo__logo-description {
  display: none;
}

@media (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {

}

@media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {

}

@media (min-width: $desktop-min-width) {
  .header-logo {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    gap: 20px;
  }

  .header-logo__logo-description {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;

    display: flex;
    flex-flow: wrap;
    align-items: center;
    width: 126px;
  }
}
