.feature {
  display: flex;
  flex-flow: wrap column;
  place-items: center;
}

.feature__feature-content-wrapper {
  display: flex;
  flex-flow: wrap;
  place-content: center;
}

.feature__feature-description {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

@media #{$mobile-only} {

}

@media #{$not-mobile} {
  .features__features-content-list {
    flex-flow: row wrap;
    gap: 50px 30px;
  }

  .feature {
    flex-flow: wrap row;
    gap: 20px;
    width: 339px;
  }

  .feature__feature-content-wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    gap: 10px;
    width: 267px;
  }

  .feature__feature-title {
    margin: 0;
  }

  .feature__feature-description {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }
}

@media #{$tablet-only} {

}

@media #{$desktop-only} {
  .features__features-content-list {
    padding: 0 0 120px;
  }

  .feature {
    flex-flow: column wrap;
    width: 318px;

    &:nth-child(2n) {
      width: 317px;
    }
  }

  .feature__feature-content-wrapper {
    align-items: center;
  }

  .feature__feature-description {
    text-align: center;
  }
}
