.features__features-wrapper {
  padding: 50px 0 0;
}

.features__features-content-list {
  margin: 0;
  padding: 0 0 60px;
  list-style-type: none;
  display: flex;
  flex-flow: column wrap;
  justify-items: center;
  gap: 31px;
}

.features__features-text-title {
  text-align: center;
  margin: 0;
}

.features__features-section-title {
  text-align: center;
  margin: 4px 0 36px;
}

.feature__feature-title {
  margin: 10px 0 4px;
  letter-spacing: 0.02em;
}

.feature__feature-description {
  margin: 0;
}

@media #{$not-mobile} {
  .features__features-wrapper {
    padding: 60px 0 0;
  }

  .features__features-content-list {
    padding: 0 10px 87px;
  }

  .features__feature:nth-child(2) {
    column-gap: 15px;
  }

  .features__features-text-title {
    margin: 0;
    // position: relative;
    // top: -7px;
  }

  .features__features-section-title {
    margin: 0 0 65px;
    letter-spacing: 0.02em;
    position: relative;
    top: 4px;
  }
}

@media #{$desktop-only} {
  .features__features-text-title {
    margin: 0;
  }

  .features__features-section-title {
    margin: 0 0 84px;
  }

  .features__features-wrapper {
    padding: 100px 0 0;
  }
}
