.map__map-image-wrapper {
  max-width: 320px;
  max-height: 420px;
}

@media #{$mobile-only} {

}

@media #{$not-mobile} {
  .map__map-image-wrapper {
    max-width: 768px;
    max-height: 480px;
  }
}

@media #{$desktop-only} {
  .map__map-image-wrapper {
    max-width: 1440px;
    max-height: 540px;
  }
}
