.map__map-image-wrapper {
  overflow: hidden;
}

.map__map-wrapper {
  display: flex;
  flex-flow: wrap;
  place-content: center;
}

.map__map-image {
  object-fit: cover;
  width: 100%;
  transform: scale(1.28);
}

@media #{$not-mobile} {
  .map__map-image {
    transform: scale(1.125);
  }
}

@media #{$desktop-only} {
  .map__map-image {
    transform: scale(1);
  }
}
