.footer-logo__logo-description {
  display: none;
}

@media (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {

}

@media (min-width: $tablet-min-width) {

}

@media (min-width: $desktop-min-width) {
  .footer-logo__logo-description {
    display: block;
    margin: 10px 0 50px;

    line-height: 20px;
  }
}
