.footer-logo__logo-description {
  display: none;
}


@media #{$mobile-only} {
  .footer-logo__footer-logo-image-wrapper {
    width: 32px;
    height: 36px;
  }
}

@media #{$not-mobile} {
  .footer-logo__footer-logo-image-wrapper {
    width: 170px;
    height: 36px;
  }
}

@media #{$desktop-only} {
  .footer-logo__logo-description {
    display: block;
    margin: 10px 0 50px;

    line-height: 20px;
  }
}
