.made-by {
  font-size: 12px;
  line-height: 16px;
  color: $base-grey;
  margin: 0;
  padding: 11px 20px 20px 35px;
  min-height: 66px;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  gap: 4px;
}

.made-by__made-by-link {
  color: $base-grey;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  gap: 4px;

  &:active {
    color: $primary-darker;
  }

  transition: color $smooth 0.3s;
}

@media #{$not-mobile} {
  .made-by__made-by-link {
    &:active {
      color: $primary-darker;
    }

    transition: color $smooth 0.3s;
  }

  .made-by {
    padding: 30px 20px 20px 35px;
    position: relative;
    right: 7px;
  }
}

@media #{$desktop-only} {
  .made-by {
    margin: 0 auto;
    padding: 10px 20px 20px 35px;
  }

  .made-by__made-by-link {
    &:hover,
    &:focus-visible {
      color: $base-primary;
    }

    &:hover svg,
    &:focus-visible svg {
      color: $base-primary;
    }

    &:active {
      color: $primary-darker;
    }

    transition: color $smooth 0.3s;
  }
}
