.made-by {
  font-size: 12px;
  line-height: 16px;
  color: $base-grey;
  margin: 0;
}

.made-by__made-by-link {
  color: $base-grey;
}

@media (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {

}

@media (min-width: $tablet-min-width) {

}

@media (min-width: $desktop-min-width) {

}
