.slide {
  padding: 20px 0 60px;
}

.slide__slide-new {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  font-weight: 700;
  color: $base-primary;
  text-transform: uppercase;
}

.slide__slide-image-wrapper {
  margin: 0 0 10px;
}

.slide__slide-content-wrapper {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.slide__slide-title {
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.02em;
  font-weight: 700;
  text-align: center;

  margin: 4px 0 10px;
}

.slide__slide-description {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  margin: 0 0 20px;
}

.slide__price-wrapper {
  display: flex;
  flex-flow: wrap;
  row-gap: 15px;
  align-items: center;
  padding: 0 25px;
}

.slide__old-price {
  font-size: 16px;
  line-height: 32px;
  color: $base-primary;
  text-decoration: line-through;
  margin: 0 6px 0 0;
}

.slide__new-price {
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  margin: 0 20px 0 0;
}

@media #{$mobile-only} {

}

@media #{$not-mobile} {
  .slide {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    flex-direction: column-reverse;
    padding: 60px 0 0 0;
  }

  .slide__slide-title {
    margin: 4px 0 16px;
    font-size: 56px;
    line-height: 80px;
  }

  .slide__slide-image {
    margin: 28px 0 0 0;
  }

  .slide__slide-description {
    font-size: 20px;
    line-height: 32px;
  }
}

@media #{$desktop-only} {
  .slide {
    flex-flow: row wrap;
    gap: 30px;
    align-items: flex-start;
    padding: 30px 0 0 0;
  }

  .slide__slide-content-wrapper {
    width: 625px;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .slide__slide-image-wrapper {
    margin: 0;
  }

  .slide__slide-new {
    margin: 150px 0 0 0;
  }

  .slide__slide-description {
    text-align: left;
    margin: 0 0 40px
  }
}
