.slider-button {
  width: 20px;
  height: 656px;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 0;
  cursor: pointer;

  &--prev {
    left: -20px;

    &:hover,
    &:focus-visible {
      background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    }

    &:active {
      background: linear-gradient(to left, #7859cf00, #7859cf40);
    }
  }

  &--next {
    right: -20px;

    &:hover,
    &:focus-visible {
      background: linear-gradient(to right, #ffffff00, #ffffff);
    }

    &:active {
      background: linear-gradient(to right, #7859cf00, #7859cf40);
    }
  }

  &:disabled .slider-button__slider-arrow {
    color: $base-grey;
  }

  &:disabled {
    &:hover,
    &:focus-visible,
    &:active {
      background: transparent;
    }
  }
}

.slider-button__slider-arrow {
  color: $base-primary;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  &--prev {
    left: 0;
  }

  &--next {
    right: 0;
  }
}

@media #{$mobile-only} {

}

@media #{$not-mobile} {
  .slider-button {
    width: 80px;
    height: 640px;
  }

  .slider-button__slider-arrow {
    &--prev {
      left: 30px;
    }

    &--next {
      right: 30px;
    }
  }
}

@media #{$desktop-only} {
  .slider-button {
    height: 714px;

    // &--prev {
    //   left: -80px;
    // }

    // &--next {
    //   right: -80px;
    // }
  }
}
