.slide {
  padding: 10px 0 50px;
  min-width: 100%;

  transition: transform $smooth 1s;
}

.slide__slide-image-wrapper {
  margin: 0 0 10px;
  width: 280px;
  height: 280px;
}

.slide__slide-content-wrapper {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.slide__slide-title {
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.02em;
  font-weight: 700;
  text-align: center;

  margin: 4px 0 10px;
}

.slide__slide-description {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  margin: 0 0 20px;
}

.slide__price-wrapper {
  display: flex;
  flex-flow: wrap;
  row-gap: 15px;
  align-items: center;
  padding: 0 24px;
}

.slide__old-price {
  font-size: 16px;
  line-height: 32px;
  color: $base-primary;
  text-decoration: line-through;
  margin: 0 6px 0 0;
}

.slide__new-price {
  margin: 0 20px 0 0;
}

@media #{$not-mobile} {
  .slide {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    flex-direction: column-reverse;
    padding: 45px 0 0;
  }

  .slide__slide-title {
    margin: 4px 0 16px;
    font-size: 56px;
    line-height: 80px;
    letter-spacing: 0.04em;
  }

  .slide__slide-image-wrapper {
    width: 476px;
    height: 476px;
    margin: 20px 0 0;
  }

  .slide__slide-description {
    font-size: 20px;
    line-height: 32px;
    padding: 0 60px;
  }
}

@media #{$desktop-only} {
  .slide {
    flex-flow: row wrap;
    gap: 30px;
    align-items: flex-start;
    padding: 30px 0 0;
  }

  .slide__slide-content-wrapper {
    width: 625px;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .slide__slide-image-wrapper {
    margin: 0;
    width: 600px;
    height: 600px;
  }

  .slide__slide-new {
    margin: 150px 0 0;
  }

  .slide__slide-description {
    text-align: left;
    margin: 0 0 40px;
  }
}
