.slider {
  background-color: $flat-white;
  position: relative;

  // &::before {
  //   position: absolute;
  //   content: "";
  //   height: 100%;
  //   width: 100vw;
  //   bottom: 0;
  //   left: calc((100vw - 100%) / -2);
  //   background-color: $flat-white;
  //   z-index: -1;
  // }
}

.slider__slider-wrapper {
  position: relative;
}

.slider__slider-pagination {
  display: none;
}

@media #{$mobile-only} {

}

@media #{$not-mobile} {

}

@media #{$desktop-only} {
  .slider__slider-pagination {
    display: block;
  }
}
