.catalog {
  background-color: $lightest-grey;
}

.catalog__catalog-wrapper {
  padding: 50px 0 0;
}

.catalog__catalog-header {
  text-align: center;
}

.catalog__pagination {
  margin: 40px 0 44px;
}
