.catalog-product {
  background-color: $base-white;
  display: flex;
  flex-flow: column wrap;
  place-items: center;
  border-radius: 4px;
  padding: 20px;
}

.catalog-product__catalog-product-description {
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 15px;
}

.catalog-product__catalog-product-image-wrapper {
  width: 130px;
  height: 188px;
  margin: 20px 0 24px;
}

.catalog-product__catalog-product-title {
  margin: 0 0 4px;
  letter-spacing: 0.02em;
}

.catalog-product__catalog-product-buy-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 49px;
}

.catalog-product__catalog-button {
  min-width: 141px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 6px;
  min-height: 36px;
}

@media #{$not-mobile} {
  .catalog-product {
    width: 349px;
    padding: 50px 30px 30px;
  }

  .catalog-product__catalog-product-buy-wrapper {
    width: 100%;
    justify-content: space-between;
  }
}

@media #{$desktop-only} {
  .catalog-product {
    width: 317px;
  }
}
