.pagination-button {
  border: none;
  background-color: $base-white;
  color: $base-primary;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  border-radius: 4px;
  transition: background $smooth 0.3s, color $smooth 0.3s;
  cursor: pointer;

  &--active {
    color: $base-black;
    background-color: transparent;
    pointer-events: none;
    font-weight: 600;
  }

  &:hover, &:focus-visible {
    background-color: $primary-lighter;
    color: $base-white;
  }

  &:active {
    background-color: $primary-darker;
    color: $base-white;
  }

  &:disabled, &:disabled .pagination-button__pagination-arrow {
    background-color: $light-grey;
    color: $base-white;
  }
}

.pagination-button__pagination-text {
  &--direction {
    display: none;
  }
}

@media #{$not-mobile} {
  .pagination-button__pagination-text {
    &--direction {
      display: block;
    }
  }
  .pagination-button__pagination-arrow {
    display: none;
  }
}
