.button {
  min-height: 40px;
  border-radius: 4px;
  border: none;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  padding: 8px;
  font-family: inherit;
  color: $base-white;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;

  &--primary {
    background-color: $base-primary;

    &:hover,
    &:focus-visible {
      background-color: $primary-lighter;
    }

    &:active {
      background-color: $primary-darker;
    }
    transition: background $smooth 0.3s;

    &:disabled {
      background-color: $base-grey;
      cursor: auto;
    }
  }

  &--secondary {
    background-color: $base-white;
    color: $base-primary;

    &:hover,
    &:focus-visible {
      background-color: $primary-lighter;
      color: $base-white;
    }

    &:active {
      background-color: $primary-darker;
      color: $base-white;
    }
    transition: background $smooth 0.3s, color $smooth 0.3s;

    &:disabled {
      background-color: $light-grey;
      cursor: auto;
    }
  }

  &--small {
    min-width: 113px;
  }

  &--catalog {
    font-size: 14px;
    line-height: 20px;
  }
}
